<template>
<div class="home">
  <div class="kanji-grid">
    <div class="kanji" v-for="kanji in smartKanjiArray" :key="kanji.kanji" @click="showKanjiDetails(kanji.kanji)" :class="{cached: kanji.cached}">
      <span>{{kanji.kanji}}</span>
    </div>
  </div>
  <kanji-detail :selectedKanji="selectedKanji"  @go-back="hideKanjiDetails" v-if="showDetail"></kanji-detail>
</div>
</template>

<script>
// @ is an alias to /src
import KanjiDetail from "@/components/KanjiDetail";
export default {
  name: "home",
  components: {
    KanjiDetail
  },
  data() {
    return {
      kanjiArray: this.$store.getters.getKanjiList,
      localKanji: this.$store.getters.getAllLocalKanji,
      showDetail: false,
      selectedKanji: ""
    };
  },
  computed: {
    smartKanjiArray() {
      var smartArray = this.kanjiArray.map(item => {
        return {
          kanji: item,
          cached: this.localKanji.find(localKanji => localKanji === item)
            ? true
            : false
        };
      });
      return smartArray;
    }
  },
  methods: {
    showKanjiDetails(kanji) {
      this.selectedKanji = kanji;
      this.showDetail = true;
    },
    hideKanjiDetails() {
      this.selectedKanji = "";
      this.showDetail = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.home {
  background-color: #374955;
  color: #f62a66;
  min-height: 100%;
  width: 100%;
}

.kanji-grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 2em;
}

.kanji {
  font-size: 1.6em;
  padding: 0 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.cached {
  color: dodgerblue;
}

.kanji-detail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
