<template>
<div class="kanji-detail" v-if="kanjiDetails">
  <div class="back" @click="goBack">Back</div>
  <div class="kanji">
    {{ selectedKanji }}
  </div>
  <div class="details">
    <div class="kanji-meaning">
      {{kanjiDetails.meaning}}
    </div>
    <div class="readings">
      <div class="kunyomi">
        <span>Kunyomi</span>
        <div class="kun-readings">
          <span>Readings: </span><span v-for="reading in kanjiDetails.kunyomi.slice(0,3)" :key="reading">{{reading}},</span>
        </div>
        <span>Examples</span>
        <div class="kun-examples">
          <div class="kun-example" v-for="example in kunyomiExamples" :key="example.reading + example.meaning">
            <div class="example">{{example.example}}</div>
            <div class="reading">{{example.reading}}</div>
            <div class="meaning">{{example.meaning | truncate}}</div>
          </div>
        </div>
      </div>
      <div class="onyomi">
        <span>Onyomi</span>
        <div class="on-readings">
          <span>Readings: </span><span v-for="reading in kanjiDetails.onyomi.slice(0,3)" :key="reading">{{reading}},</span>
        </div>
        <span>Examples</span>
        <div class="on-examples">
          <div class="on-example" v-for="example in onyomiExamples" :key="example.reading + example.meaning">
            <div class="example">{{example.example}}</div>
            <div class="reading">{{example.reading}}</div>
            <div class="meaning">{{example.meaning | truncate}}</div>
          </div>
        </div>
      </div>
    </div>
    <a :href="kanjiDetails.uri">More Info</a>
  </div>

  <!-- <div class="found" v-if="kanjiDetails">
      {{ kanjiDetails}}
    </div> -->
</div>
</template>

<script>
export default {
  name: "KanjiDetail",
  props: ["selectedKanji"],
  computed: {
    kanjiDetails() {
      return this.$store.getters.getKanjiDetails(this.selectedKanji);
    },
    onyomiExamples() {
      var examples = this.kanjiDetails.onyomiExamples;
      var words = examples.map(example => example.example);
      words.forEach((element, index) => {
        if (words.findIndex(item => item === element) !== index) {
          examples.splice(index, 1);
        }
      });
      return examples.slice(0, 3);
    },
    kunyomiExamples() {
      var examples = this.kanjiDetails.kunyomiExamples;
      var words = examples.map(example => example.example);
      words.forEach((element, index) => {
        if (words.findIndex(item => item === element) !== index) {
          examples.splice(index, 1);
        }
      });
      return examples.slice(0, 3);
    }
  },
  methods: {
    goBack() {
      this.$emit("go-back");
    }
  },
  filters: {
    truncate(value) {
      var firstItems = value.split(",", 3);
      return firstItems.toString();
    }
  },
  mounted() {
    if (!this.kanjiDetails) {
      console.log("Getting: " + this.selectedKanji);
      this.$store.dispatch("getRemoteKanjiDetails", this.selectedKanji);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss" scoped>
.kanji-detail {
  background-color: #374955;
  color: #f62a66;
  border-radius: 1em;
  border: 4px solid #f62a66;
  display: flex;
  flex-direction: column;
}

.back {
  display: inline-block;
  align-self: flex-start;
  margin: 1em;
  padding: 1em;
  color: #374955;
  background-color: #f62a66;
  border-radius: 0.5em;
  user-select: none;
}

.kanji {
  font-size: 8em;
}

.kanji-meaning {
  font-size: 2em;
}

.readings {
  display: flex;
  margin: 1em;
  justify-content: center;
}

.kunyomi,
.onyomi {
  margin: 1em;
}

.kun-examples,
.on-examples {
  display: flex;
}

.kun-example,
.on-example {
  margin: 1em;
}
</style>
